.page.theme_light {
  --text-color: var(--color-text-light, #353430);
  --accent-color: var(--color-accent-light, #ff8dcb);
  --brand-color: var(--color-brand-accent-light, #ffc2e6);
  --highlight-color: var(--color-text-light, #353430);
  --secondary-color: var(--color-text-light, #353430);
  --secondary-color-o-40: var(--color-text-light-o-40, #35343040);

  --page-background-color: var(--color-bg-light, #fff1f7);
  --page-background-image: url(../images/cover-image-light.png);

  --rec-decor-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme_dark) {
    --text-color: var(--color-text-light, #353430);
    --accent-color: var(--color-accent-light, #ff8dcb);
    --brand-color: var(--color-brand-accent-light, #ffc2e6);
    --highlight-color: var(--color-text-light, #353430);
    --secondary-color: var(--color-text-light, #353430);
    --secondary-color-o-40: var(--color-text-light-o-40, #35343040);

    --page-background-color: var(--color-bg-light, #fff1f7);
    --page-background-image: url(../images/cover-image-light.png);

    --rec-decor-visibility: hidden;
  }
}
